.toolbar-row {
  display: flex;
  justify-content: space-between;
  /* height: 60px; */
  align-items: center;
  padding: 10px 40px;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.search-section {
  display: flex;
  flex: 1;
  max-width: 60%;
  margin-top: 10px;
}

.search-input {
  flex: 1;
  /* height: 20px; */
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px 0 0 5px;
  font-size: 1.5rem;
  outline: none;

}

.search-button {
  /* height: 20px; */
  padding: 10px 20px;
  margin: 0;
  background-color: #1a3258;
  color: #fff;
  border: 1px solid #1a3258;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0f2358;
}

.add-button {
  /* height: 20px; */
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #218838;
}
