
/* Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    align-self: start;
    height: 100dvh; overflow: auto;
    /* width: 25%; */
    background-color: var(--green-swamp);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px 0;
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .profile img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.sidebar .profile span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.sidebar .navigation{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar .navigation .menu-profe {
    position: relative;
    width: 100%;
    padding: 30px 10px;
    transition: 0.5s;
}

.sidebar .navigation .menu-profe li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 30px;
}
.menu-profe li.disabled { opacity: .5; pointer-events: none; }


.sidebar .navigation .menu-profe li .icon
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  2rem;
}
.sidebar .navigation .menu-profe li .text
{
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    margin-left: 10px;
}

.sidebar .navigation .menu-profe li:hover {
    background-color: #6485a0;
    /* color: #fff; */
}
