/* src/components/AsignacionesForm/AsignacionesForm.css */
.asignaciones-form{
  background:#fff;
  padding:16px 20px;
  border-radius:8px;
  box-shadow:0 3px 10px rgba(0, 0, 0, 0.26);
  width: 520px;
  margin: 0 auto;
}
.asignaciones-form h2{ text-align:center; margin:4px 0 12px 0;}
.asignaciones-form label{ display:block; margin-bottom:10px; font-weight:600; color:#1B3158;}
.asignaciones-form select{ width:100%; padding:8px; border:1px solid #cfd6e1; border-radius:6px;}
.asignaciones-form .error{ color:#d00; font-size:.9rem; margin-top:4px;}
.asignaciones-form .form-actions{ display:flex; gap:10px; justify-content:flex-end; margin-top:12px;}
.asignaciones-form button{ background:#2d6a88; color:#fff; border:none; padding:8px 14px; border-radius:6px; cursor:pointer;}
.asignaciones-form .btn-secondary{ background:#888; }

/* src/components/AsignacionesTable/AsignacionesTable.css */
.asignaciones-table table{ 
  width:100%; 
  border-collapse:collapse; background:#fff; box-shadow:0 2px 10px rgba(0,0,0,.56); }
.asignaciones-table th, .asignaciones-table td{ 
  border: 1px solid #0b1d30; 
  padding:10px; 
}

.asignaciones-table thead th{ 
  background:var(--primary-color); 
  color:#0b1d30; 
  text-align:left; 
  font-size: 2.5rem;
}
.row-actions{ 
  display:flex;
  gap:8px; 
}
.btn-config-asig{ 
  background:#2d6a88; 
  color:#fff;
  width: 30px;
  height: 30px; 
  font-size: 20px;
  font-weight: bold;
  border:none; 
  /* padding:3px;  */
  border-radius:6px; 
  cursor:pointer;
}
.btn-eliminar-asig{ 
  background:#b23b3b; 
  color:#fff; 
  width: 30px;
  height: 30px; 
  font-size: 20px;
  font-weight: bold;
  border:none; 
  padding:3px;  
  border-radius:6px; 
  cursor:pointer;
}
.tb-body-asig tr
{
  font-size: 2rem;
}